<div class="prod_home col-md-6 col-md-offset-3 col-xs-8 col-xs-offset-2">
  <div class="panel panel-default">
    <div class="panel-heading">Users List</div>
    <table class="table">
        <% @users.each do |user| %>
        <tr>
            <td>
                <%= link_to user.first_name+' '+user.last_name , user %>
            </td>
            <td>
                <%= ((user.active?)? 'Active':'Inactive') %>
            </td>
        </tr>
        <% end %>
    </table>
  </div>
</div>
