<h1>All Orders</h1>
<table>
  <tr>
    <td>Order Id</td>
    <td>Order Status</td>
    <td>User</td>
  </tr>
  <% @order_items.each do |order_item| %>
      <tr>
        <td><%= link_to order_item.id , order_item %></td>
        <td><%=  order_item.status %></td>
        <td><%= order_item.user.email %></td>
      </tr>
    <% end %>
    
</table>
