<div class="col-md-6 col-md-offset-3 col-xs-8 col-xs-offset-2">
  <div class="panel panel-default contact">
      <div class="panel-heading heading_bar">Contact Us</div>
      <table class="table">
          <tr>
              <td class="col-md-3">
                  <span class="glyphicon glyphicon-phone-alt" aria-hidden="true"></span>Call us:
              </td>
              <td class="col-md-3">
                  <span class="glyphicon glyphicon-envelope" aria-hidden="true"></span>Mail us:
              </td>
              <td class="col-md-3">
                  <span class="glyphicon glyphicon-king" aria-hidden="true"></span>Corporate Address:
              </td>
          </tr>
          <tr>
              <td class="col-md-3">We're available 24 hours a day. +91 536 2241527
              </td>
              <td class="col-md-3">Shyam Telecom Private Limited, Ozone Manay Tech Park, #56/18 55/09, 7th Floor, Garvebhavipalya, Hosur Road, Sultanpur - 228001, Uttar Pradesh, India.
              </td>
              <td class="col-md-3">Shyam Telecom Private Limited Vaishnavi Summit, Ground Floor, 7th Main, 80 Feet Road, 3rd Block, Koramangala Industrial Layout, Sultanpur - 228001 Uttar Pradesh, India <br>CIN: U51109KA2012PTC066107
                  <br>
                  <span class="glyphicon glyphicon-earphone" aria-hidden="true"></span>: +91 945 3023799
              </td>
          </tr>
      </table>
  </div>

</div>
