<div class="panel panel-default table_display contact">
  <div class="panel-heading">Contact Us</div>
  <table class="table">
    <tr>
      <td class="col-md-3">Call us:</td>
      <td class="col-md-3">Mail us: </td>
      <td class="col-md-3">Corporate Address:</td>
    </tr>
    <tr>
      <td class="col-md-3">We're available 24 hours a day. (0124) 6150000 or 1800 208 9898</td>
      <td class="col-md-3">Flipkart Internet Private Limited,
          Ozone Manay Tech Park,
          #56/18  55/09, 7th Floor,
          Garvebhavipalya, Hosur Road,
          Bangalore - 560068,
          Karnataka, India.
        </td>
        <td class="col-md-3">Flipkart Internet Private Limited
          Vaishnavi Summit, Ground Floor, 7th Main,
          80 Feet Road, 3rd Block,
          Koramangala Industrial Layout,
          Bangalore - 560034
          Karnataka, India
          CIN: U51109KA2012PTC066107
          Ph: (0124) 6150000
        </td>
      </tr>
  </table>
</div>
