<div class="row prod_home">
    <div class="col-md-4">
        <%= link_to image_tag('handsets.jpg',:class => "home_display"),product_category_path('Handset')  %>
    </div>
    <div class="col-md-4">
        <%= link_to image_tag('accessories.jpg',:class => "home_display"),product_category_path('Accessory') %>
    </div>
    <div class="col-md-4">
        <%= link_to image_tag('tabs.jpg',:class => "home_display"),product_category_path('Tablet') %>
    </div>
</div>