<div>
  <article>
    <%= link_to image_tag('handsets.jpg'),product_category_path('Handset') %>
  </article>
  <aside>
    <%= link_to image_tag('accessories.jpg'),product_category_path('Accessory')  %>
  </aside>
  <section>
    <%= link_to image_tag('tabs.jpg'),product_category_path('Tablet')  %>
  </section>
</div>
