<div class="manage_inventory">
    <p>
        <%= link_to '<span class="glyphicon glyphicon-folder-open" aria-hidden="true"></span> Inventory List'.html_safe , products_path%>
    </p>
    <% if @current_user.present? && @current_user.admin? %>
      <p>
          <%= link_to '<span class="glyphicon glyphicon-plus" aria-hidden="true"></span>Inventory'.html_safe, new_product_path %>
      </p>
    <% end %>
</div>
