* {
}
td {
  min-width:40px;
}
table,tr,td {
  // border:1px solid black;
}

.top-nav {
  position: fixed;
  z-index: 10;
  margin-top: -5px;
  width: 100%;
  background-color: rgb(201, 209, 232);
}

.nav-tabs {
  border: none;
}
.no_display {
  position:relative;
}
.display {
  width:8%;
  height : 10%;
  position : fixed;
  right:10px;
}
.currencyDisplay {
  position:fixed;
  right:200px;
  top:18px;
}
.profile_dropDown {
  position: fixed;
  right:100px;
  top:5px;
}
.display_product_name{
    position: absolute;
    left: 50%;
    line-height: 350px;
    z-index: 1;
}
.logout {
  position: fixed;
  right:5px;
  top:5px;
  color:white;
}
.my_nav {
  right:10px;
  top :50px;
}
.profile_image {
  width:40%;
  height: 40%;
}
fieldset {
  border:none;
  min-width: 120px;
}
h1 {
   text-align: center;
   font-size: 30px;
   padding-bottom: 2em;
}
input[type="submit" i] {
  background-color: rgb(64, 86, 150);
  color:#dbd9bb;
  margin-top: 2em;
}
.panel-default > .panel-heading {
  background-color: rgb(64, 86, 150);
  color:#dbd9bb;
}
 .header {
   background-color: rgb(64, 86, 150);
   height: 40px;
   padding-top: 5px;
   padding-bottom: 5px;
   position:fixed;
   top: 0px;
   left:0px;
   width:100%;
   color:#dbd9bb;
   text-align:center;
   font-size:25px;
 }
 span {
   position:fixed;
  color:black;
 }
 .product_display {
   width:350px;
   height: 350px;
   border-radius: 25em;
   padding: 2em;

 }
 .product_display_name {
   width: 300px;
  height: 300px;
  border-radius: 25em;
  border-color: black;
  border-width: medium;
  padding-top: 175px;
  text-align: center;
  background-color: #f0f0f3;
  padding: 2em;
 }
 .contact {
   margin-top: 150px;
 }

 .table_display {
   width:50%;
   margin-left: 400px;
   padding-bottom: 2em;
 }
 .product_image {
   width:600px;
   height:400px;
   text-align:center;
   padding-left: 8em;
 }

.home_display {
  width:350px;
  height : 350px;
  border-radius: 50em;
  border: 2px solid rgb(64, 86, 150);
}
label:not(.gender_label) {
  font-size: 1.25em;
  font-weight: bold;
  min-width: 245px;
  display: inline-block;
  text-align: right;
}

 a {
   padding:1em;
 }
 .welcome {
   font-size:24px;
   text-align: center;
   text-shadow: #415790 0 4px 10px;
 }
 ul {
  list-style-type: none;
  text-align: center;
 }

 .product_details {
   text-align: center;
 }
 .order_details {
   text-align: center;
   padding-bottom: 5em;
 }
 .manage_inventory {
   text-align:center;
   padding:10em;
 }
 .footer {
  background-color: rgb(64, 86, 150);
  position:fixed;
  bottom: 0px;
  left:0px;
  text-align:center;
  width:100%;
  height:30px;
  color:#dbd9bb;
  font-size:12px;
  padding-top: 1em;
  margin-top: 5em;
}
div.header_nav {
  display: inline-grid;
}
.currency_dropdown {
  position: fixed;
  top: 0px;
  right:10px;
}
.link_button {
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    border: solid 1px #20538D;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.4);
    -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.4), 0 1px 1px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.4), 0 1px 1px rgba(0, 0, 0, 0.2);
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.4), 0 1px 1px rgba(0, 0, 0, 0.2);
    background: rgb(64, 86, 150);;
    color: #FFF;
    padding: 8px 50px;
    text-decoration: none;
    position: absolute;
    top:50px;
    left:10px;
}

.catalogue {
  width: 100px;
  height: 40px;
}
input[type="file"] {
  display:inline;
}
body {
  padding-top: 45px;
}
.home_page {
  background-image: url("/assets/background-1.jpg");
  /*url("https://etopian.com/wp-content/uploads/ecommerce.jpg");*/
  background-size: cover;
}
.menu {
  padding-right:2em;
}

.prod_home {
  padding-top:5em;
}
