* {
}
.display {
  width:8%;
  height : 10%;
  position : fixed;
  right:10px;
}
.my_nav {
  position : fixed;
  right:10px;
  top :50px;
}
.profile_image {
  width:40%;
  height: 40%;
}
fieldset {
  border:none;
  min-width: 120px;
}
h1 {
   text-align: center;
   font-size: 30px;
   padding-bottom: 2em;
}
input[type="submit" i] {
  background-color: rgb(64, 86, 150);
  color:#dbd9bb;
  margin-top: 2em;
}
 .header {
   background-color: rgb(64, 86, 150);
   height: 40px;
   padding-top: 5px;
   padding-bottom: 5px;
   position:fixed;
   top: 0px;
   left:0px;
   width:100%;
   color:#dbd9bb;
   text-align:center;
   font-size:25px;
 }
 span {
   position:fixed;
  color:black;
 }
 .product_display {
   width:350px;
   height: 350px;
   border-radius: 8em;
   padding: 2em;
 }
 .contact {
   margin-top: 150px;
 }
 .profile_dropDown {
   position: fixed;
   right:100px;
   top:50px;
 }
 .table_display {
   width:50%;
   margin-left: 400px;
   padding-bottom: 2em;
 }
 .product_image {
   width:600px;
   height:400px;
   text-align:center;
   padding-left: 8em;
 }

.home_display {
  width:350px;
  height : 350px;
  border-radius: 50em;
  border: 2px solid rgb(64, 86, 150);
}
label:not(.gender_label) {
  font-size: 1.25em;
  font-weight: bold;
  min-width: 245px;
  display: inline-block;
  text-align: right;
}

 a {
   padding:1em;
 }
 .welcome {
   font-size:24px;
   text-align: center;
   text-shadow: #415790 0 4px 10px;
 }
 ul {
  list-style-type: none;
  text-align: center;
 }
 .product_details {
   text-align: center;
 }
 .order_details {
   text-align: center;
   padding-bottom: 5em;
 }
 .manage_inventory {
   text-align:center;
   padding:10em;
 }
 .footer {
  background-color: rgb(64, 86, 150);
  position:fixed;
  bottom: 0px;
  left:0px;
  text-align:center;
  width:100%;
  height:30px;
  color:#dbd9bb;
  font-size:12px;
  padding-top: 1em;
  margin-top: 5em;
}

input[type="file"] {
  display:inline;
}
body {
  padding-top: 45px;
}
.menu {
  padding-right:2em;
}
.options {
  position:fixed;
}
.prod_home {
  padding-top:5em;
}
